.App {
  color:white;
}


.itemm {
  font-family: Jura;
  font-size: 30px;
  color: white;
}

.appl {
  background-image: url(images/drop-of-water-2902175_1280.jpg) ;
  text-align: center;
  color: white;
}

.date {
  font-family: Jura;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color:rgb(100, 219, 203);
}

.heure {
  text-align: center;
  font-family: Jura;
  font-weight:bold;
  color: rgb(3, 240, 122);
}

.date2 {
  text-align: center;
  font-family: Jura;
  font-weight: bold;
  font-size: 20px;
  color: aquamarine;
}

.form-group {
  text-align: center;
  font-family: Jura;
  font-weight: bold;
  font-size: 20px;
  color:white;
}

